asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2025.4.26
charset-normalizer==3.4.1
contourpy==1.1.1
crispy-bootstrap3==2024.1
cycler==0.12.1
diff-match-patch==20241021
distlib==0.3.9
Django==2.0
django-bootstrap==0.2.4
django-bootstrap3==11.1.0
django-crispy-forms==2.4
django-formtools==2.5.1
django-import-export==4.1.1
django-pure-pagination==0.3.0
django-reversion==5.1.0
filelock==3.16.1
fonttools==4.57.0
future==1.0.0
httplib2==0.9.2
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
packaging==24.2
pillow==10.4.0
platformdirs==4.3.6
PyMySQL==1.1.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tablib==3.5.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
virtualenv==20.29.2
xadmin==2.0.1
zipp==3.20.2
